<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- dao -->
  	<bean id="catalogueDao" class="common.component.cms.dao.impl.CatalogueDaoImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
  	<bean id="attributeDao" class="common.component.cms.dao.impl.AttributeDaoImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
  	<bean id="clobDao" class="common.component.cms.dao.impl.ClobDaoImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>

	<bean id="catalogrightDao" class="common.component.cms.dao.impl.CatalogrightDaoImpl">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	
	<!-- service -->
	<bean id="catalogueService" parent="txProxyTemplate">
		<property name="target">
			<bean class="common.component.cms.service.impl.CatalogueServiceImpl">
				<constructor-arg ref="catalogueDao" />
				<constructor-arg ref="attributeDao" />
				<constructor-arg ref="ecTableDAOJdbc" />
				<constructor-arg><value>${jdbcDialect}</value></constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="attributeService" parent="txProxyTemplate">
		<property name="target">
			<bean class="common.component.cms.service.impl.AttributeServiceImpl">
				<constructor-arg ref="attributeDao" />
				<constructor-arg ref="ecTableDAOJdbc" />
			</bean>
		</property>
	</bean>
	
	<bean id="contentService" parent="txProxyTemplate">
		<property name="target">
			<bean class="common.component.cms.service.impl.ContentServiceImpl">
				<constructor-arg ref="catalogueDao" />
				<constructor-arg ref="clobDao" />
				<constructor-arg ref="blobDao" />
				<constructor-arg ref="ecTableDAOJdbc" />
				<constructor-arg><value>${jdbcDialect}</value></constructor-arg>
			</bean>
		</property>
	</bean>
	
	<bean id="httpService" parent="txProxyTemplate">
		<property name="target">
			<bean class="common.component.cms.service.impl.HttpServiceImpl">
				<constructor-arg ref="catalogueDao" />
				<constructor-arg ref="clobDao" />
				<constructor-arg ref="blobDao" />
				<constructor-arg ref="ecTableDAOJdbc" />
				<constructor-arg><value>${jdbcDialect}</value></constructor-arg>
				<constructor-arg><value>${maxExcelSize}</value></constructor-arg>
			</bean>
		</property>
	</bean>
	
	<bean id="catalogrightService" parent="txProxyTemplate">
		<property name="target">
			<bean class="common.component.cms.service.impl.CatalogrightServiceImpl">
				<constructor-arg ref="catalogrightDao" />
				<constructor-arg ref="ecTableDAOJdbc" />
			</bean>
		</property>
	</bean>	
	
	<!-- action -->
	<bean id="catalogueAction" scope="prototype"
        class="common.component.cms.action.CatalogueAction">
        <constructor-arg ref="catalogueService" />
        <constructor-arg ref="catalogrightService" />
    </bean>
 	<bean id="attributeAction" scope="prototype"
        class="common.component.cms.action.AttributeAction">
        <constructor-arg ref="catalogueService" />
        <constructor-arg ref="attributeService" />
    </bean>
    <bean id="contentAction" scope="prototype"
        class="common.component.cms.action.ContentAction">
        <constructor-arg ref="contentService" />
        <constructor-arg ref="catalogueService" />
        <constructor-arg ref="attributeService" />
    </bean>
    
    <bean id="httpAction" scope="prototype"
        class="common.component.cms.action.HttpAction">
        <constructor-arg ref="httpService" />
        <constructor-arg ref="catalogueService" />
        <constructor-arg ref="attributeService" />
    </bean>
    
    <bean id="excelAction" scope="prototype"
        class="common.component.cms.action.ExcelAction">
        <constructor-arg ref="contentService" />
        <constructor-arg ref="catalogueService" />
        <constructor-arg ref="attributeService" />
    </bean>
    
	<bean id="catalogrightAction" scope="prototype"
        class="common.component.cms.action.CatalogrightAction">
        <constructor-arg ref="roleService" />
        <constructor-arg ref="catalogueService" />
		<constructor-arg ref="catalogrightService" />
    </bean>
    
	<!-- bean 
 	<bean id="oTypes" class="common.component.cms.sql.OTypes">
		<property name="types">
			<props>
				<prop key="1">VARCHAR</prop>
			</props>
		</property>
    </bean>
    -->
</beans>
