<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Struts2</display-name>

<!-- 			classpath:common/component/application/hotel/spring.xml,
			classpath:common/component/application/card/spring.xml, -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/applicationContext.xml,
			classpath:common/component/cms/spring.xml,
			classpath:common/component/config/spring.xml,
			classpath:common/component/permission/spring.xml,
			classpath:common/component/upload/spring.xml,
			classpath:common/component/ectable/spring.xml,
			classpath:common/component/application/nurl/spring.xml,
			classpath:common/component/application/user/spring.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

    <filter>
        <filter-name>permissionFilter</filter-name>
        <filter-class>common.component.permission.action.PermissionFilter</filter-class>
		<init-param>
			<param-name>permission</param-name>
			<param-value>permission/login.action</param-value>
		</init-param>
    </filter>
    
    <filter>
        <filter-name>catalogrightFilter</filter-name>
        <filter-class>common.component.cms.action.CatalogrightFilter</filter-class>
    </filter>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>permissionFilter</filter-name>
        <url-pattern>*.actionbak</url-pattern>
    </filter-mapping>
<!--
    <filter-mapping>
        <filter-name>catalogrightFilter</filter-name>
        <url-pattern>/cms/*</url-pattern>
    </filter-mapping>
-->    
    <filter-mapping>
        <filter-name>permissionFilter</filter-name>
        <url-pattern>*.jspbak</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<listener>
		<listener-class>
			common.component.config.ContextListener
		</listener-class>
	</listener>
	
	<listener>
		<listener-class>
			common.component.application.nurl.ContextListener
		</listener-class>
	</listener>
	<!--
	<listener>
		<listener-class>
			common.component.application.hotel.ContextListener
		</listener-class>
	</listener>
	-->

	<servlet>
		<servlet-name>verifyCodeServlet</servlet-name>
		<servlet-class>common.component.verifycode.VerifyCodeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>verifyCodeServlet</servlet-name>
		<url-pattern>/vcode</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
	<taglib>
		<taglib-uri>/WEB-INF/extremecomponents</taglib-uri>
		<taglib-location>
			/WEB-INF/tlds/extremecomponents.tld
		</taglib-location>
	</taglib>

</web-app>
