BODY {
	FONT-SIZE: 9pt; MARGIN: 0px; FONT-FAMILY: Tahoma,??,arial
}
PRE {
	FONT-SIZE: 9pt; FONT-FAMILY: Tahoma,??,arial
}
TD {
	FONT-SIZE: 9pt
}
H2 {
	FONT-SIZE: 9pt
}
INPUT {
	BORDER-RIGHT: #b4b4b4 1px solid; BORDER-TOP: #b4b4b4 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 9pt; BORDER-LEFT: #b4b4b4 1px solid; WIDTH: 150px; PADDING-TOP: 2px; BORDER-BOTTOM: #b4b4b4 1px solid; FONT-FAMILY: Tahoma,??,arial; HEIGHT: 21px; BACKGROUND-COLOR: #ffffff
}
INPUT.inputDate {
	WIDTH: 125px
}
INPUT.inputShort {
	WIDTH: 65px
}
INPUT.inputLong {
	WIDTH: 389px
}
SELECT {
	BORDER-RIGHT: #b4b4b4 1px solid; BORDER-TOP: #b4b4b4 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #b4b4b4 1px solid; WIDTH: 150px; BORDER-BOTTOM: #b4b4b4 1px solid; FONT-FAMILY: Tahoma,??,arial; HEIGHT: 21px; BACKGROUND-COLOR: #ffffff
}
OPTGROUP {
	BACKGROUND: #e9e9e9; FONT-STYLE: normal
}
SELECT.selShort {
	WIDTH: 65px
}
TEXTAREA {
	BORDER-RIGHT: #b4b4b4 1px solid; BORDER-TOP: #b4b4b4 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 9pt; MARGIN: 1px 0px; BORDER-LEFT: #b4b4b4 1px solid; WIDTH: 150px; BORDER-BOTTOM: #b4b4b4 1px solid; FONT-FAMILY: Tahoma,??,arial; HEIGHT: 60px; BACKGROUND-COLOR: #ffffff
}
TEXTAREA.textareaLong {
	WIDTH: 389px
}
OL {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
CENTER {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
BUTTON {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b4b4b4 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 9pt; BACKGROUND: url(../images/bw_sm.gif) #eeeeee center 25px; MARGIN: 0px 3px; BORDER-LEFT: #b4b4b4 1px solid; CURSOR: hand; BORDER-BOTTOM: #b4b4b4 1px solid; FONT-FAMILY: Tahoma,??,arial; HEIGHT: 21px
}
BUTTON.btnCale {
	MARGIN-LEFT: -1px; CURSOR: hand
}
BUTTON.btnImg {
	WIDTH: 26px; CURSOR: hand
}
BUTTON.btnImgNav {
	WIDTH: 26px; CURSOR: hand; PADDING-TOP: 2px
}
HR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #cccccc; BORDER-LEFT: 0px; COLOR: #cccccc; BORDER-BOTTOM: 0px; HEIGHT: 1px
}
A:link {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #dd3409; TEXT-DECORATION: none
}
A.a9RED:link {
	FONT-SIZE: 9pt; COLOR: #dd3409; TEXT-DECORATION: none
}
A.a9RED:visited {
	FONT-SIZE: 9pt; COLOR: #dd3409; TEXT-DECORATION: none
}
A.a9RED:hover {
	FONT-SIZE: 9pt; COLOR: #dd3409; TEXT-DECORATION: none
}
A.a9GRAY:link {
	FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none
}
A.a9GRAY:visited {
	FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none
}
A.a9GRAY:hover {
	FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none
}
A.a9BLACK:link {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A.a9BLACK:visited {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A.a9BLACK:hover {
	FONT-SIZE: 9pt; COLOR: #dd3409; TEXT-DECORATION: none
}
A.a9GREEN:link {
	FONT-SIZE: 9pt; COLOR: #49af30; TEXT-DECORATION: none
}
A.a9GREEN:visited {
	FONT-SIZE: 9pt; COLOR: #49af30; TEXT-DECORATION: none
}
A.a9GREEN:hover {
	FONT-SIZE: 9pt; COLOR: #49af30; TEXT-DECORATION: none
}
A.a9BLUE:link {
	FONT-SIZE: 9pt; COLOR: #0092f9; TEXT-DECORATION: none
}
A.a9BLUE:visited {
	FONT-SIZE: 9pt; COLOR: #0092f9; TEXT-DECORATION: none
}
A.a9BLUE:hover {
	FONT-SIZE: 9pt; COLOR: #0092f9; TEXT-DECORATION: none
}
.btnSpan {
	MARGIN: 0px 2px; OVERFLOW: hidden; WIDTH: 70px
}
.btnSpanTop {
	DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px 2px; OVERFLOW: hidden; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 1px
}
.btnSpanBottom {
	BORDER-TOP: #b4b4b4 1px solid; DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px 2px; OVERFLOW: hidden; HEIGHT: 1px
}
.btnSpanCorner {
	BORDER-RIGHT: #b4b4b4 1px solid; DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #b4b4b4 1px solid; HEIGHT: 1px
}
.btnSpanMiddle {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(../images/bw_sm.gif) #e9e9e9 center center; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #b4b4b4 1px solid; CURSOR: hand; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-ALIGN: center
}
.btnSpanLine {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; DISPLAY: block; FONT-SIZE: 1px; MARGIN: -5px -3px 4px -10px; OVERFLOW: hidden; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 1px
}
.btnSpanLink {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(../images/bw_sm.gif) #e9e9e9 center center; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #b4b4b4 1px solid; CURSOR: hand; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-ALIGN: center
}
.btnSpanLink:link {
	FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none
}
.btnSpanLink:visited {
	FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/bw_sm.gif); COLOR: #666666
}
.btnSpanLink:hover {
	FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/pur_sm.gif); COLOR: #666666
}
.btnSpanLinkDisabled {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; BACKGROUND: url(../images/bw_sm.gif) #e9e9e9 center center; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #b4b4b4 1px solid; CURSOR: not-allowed; PADDING-TOP: 0px; HEIGHT: 16px; TEXT-ALIGN: center
}
.btnSpanLinkDisabled:link {
	FONT-SIZE: 9pt; COLOR: #666666; TEXT-DECORATION: none
}
.btnSpanLinkDisabled:visited {
	FONT-SIZE: 9pt; COLOR: #666666
}
.btnSpanLinkDisabled:hover {
	FONT-SIZE: 9pt; COLOR: #666666
}
.areaSpan {
	OVERFLOW: hidden; WIDTH: 100%; MARGIN-RIGHT: 2px
}
.areaSpanTop {
	DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px 2px; OVERFLOW: hidden; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 1px
}
.areaSpanBottom {
	BORDER-TOP: #b4b4b4 1px solid; DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px 2px; OVERFLOW: hidden; HEIGHT: 1px
}
.areaSpanCorner {
	BORDER-RIGHT: #b4b4b4 1px solid; DISPLAY: block; FONT-SIZE: 1px; MARGIN: 0px 1px; OVERFLOW: hidden; BORDER-LEFT: #b4b4b4 1px solid; HEIGHT: 1px
}
.areaSpanMiddle {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #b4b4b4 1px solid; PADDING-TOP: 5px
}
.areaSpanMiddleTitle {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #b4b4b4 1px solid; PADDING-TOP: 3px
}
.areaSpanContent {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b4b4b4 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #b4b4b4 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #b4b4b4 1px solid; BACKGROUND-COLOR: #f8f8f8
}
.bgWhite {
	BACKGROUND: #ffffff
}
.bgYellowLight {
	BACKGROUND: #ffffe1
}
.bgOrangeLight {
	BACKGROUND: #ffeec2
}
.bgBlueLight {
	BACKGROUND: #e2f5ff
}
.bgRedLight {
	BACKGROUND: #fff2e9
}
.bgPurLight {
	BACKGROUND: #eeeeff
}
.bgGrayLight {
	BACKGROUND: #f3f3f3
}
.bgDis {
	BACKGROUND: #f3f3f3
}
.colorBlack {
	COLOR: #000000
}
.colorGray {
	COLOR: #666666
}
.colorGreen {
	COLOR: #49af30
}
.colorDarkGreen {
	COLOR: #008000
}
.colorOrange {
	COLOR: #ff6600
}
.colorRed {
	COLOR: #dd3409
}
.colorBlue {
	COLOR: #0092f9
}
.colorPur {
	COLOR: #606099
}
.font7 {
	FONT-SIZE: 7pt
}
.font8 {
	FONT-SIZE: 8pt
}
.font9 {
	FONT-SIZE: 9pt
}
.font10 {
	FONT-SIZE: 10.5pt
}
.fontArial {
	FONT-FAMILY: Arial
}
.fontMSSansSerif {
	FONT-FAMILY: MS Sans Serif
}
.fontSourceCode {
	FONT-SIZE: 9pt; FONT-FAMILY: Courier New, Fixedsys, Lucida Console
}
.fontIndent {
	TEXT-INDENT: 5px
}
.fontIndent1 {
	TEXT-INDENT: 15px
}
.fontIndent2 {
	TEXT-INDENT: 20px
}
.fontIndent3 {
	TEXT-INDENT: 30px
}
.fontDel {
	TEXT-DECORATION: line-through
}
.fontDelDbl {
	TEXT-DECORATION: underline overline
}
.fontOverflow {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.imgTitle {
	LEFT: 10px; BEHAVIOR: url(include/pngbehavior.htc); WIDTH: 16px; MARGIN-RIGHT: 18px; POSITION: relative; HEIGHT: 16px
}
.imgPNG {
	BEHAVIOR: url(include/pngbehavior.htc)
}
.imgDis {
	FILTER: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1, xray=0, mirror=0, invert=0, opacity=0.75, rotation=0); CURSOR: not-allowed
}
.imgLoading {
	; LEFT: expression((document.body.clientWidth-16)/2); WIDTH: 16px; POSITION: absolute; ; TOP: expression((document.body.clientHeight-16)/2); HEIGHT: 16px
}
.spanLeft {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 50px; WHITE-SPACE: nowrap; h: 24px
}
.spanRight {
	VERTICAL-ALIGN: middle; WHITE-SPACE: nowrap; h: 24px
}
.spanCopyright {
	CLEAR: right; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; POSITION: relative; TOP: 5px; HEIGHT: 20px; TEXT-ALIGN: right
}
.spanLine {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: block; FONT-SIZE: 1px; OVERFLOW: hidden; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; HEIGHT: 1px
}
.tblGray {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #b4b4b4; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tblGrayBorder {
	BORDER-TOP: #b4b4b4 1px solid; BORDER-LEFT: #b4b4b4 1px solid; BORDER-BOTTOM: #b4b4b4 1px solid
}
.trGray {
	BACKGROUND: url(../images/bw_sm.gif) #e9e9e9 center center; HEIGHT: 20px; TEXT-ALIGN: center
}
.trGrayHead {
	BACKGROUND: #eeeeee; HEIGHT: 20px; TEXT-ALIGN: center
}
.trGrayFixed {
	BACKGROUND-POSITION: center center; BACKGROUND-IMAGE: url(../images/bw_sm.gif); CURSOR: default; BACKGROUND-REPEAT: repeat-x; POSITION: relative; ; TOP: expression(this.offsetParent.scrollTop); HEIGHT: 20px; TEXT-ALIGN: center
}
.trGrayFixed TD {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #b4b4b4 1px solid; WHITE-SPACE: nowrap
}
.trGrayHead TD {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #b4b4b4 1px solid; WHITE-SPACE: nowrap
}
.tbodyGray {
	BACKGROUND: #ffffff
}
.tbodyGray TD {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #b4b4b4 1px solid
}
.trGrayLast TD {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BORDER-BOTTOM: #b4b4b4 0px solid
}
.borderGrayLeft {
	BORDER-LEFT: #b4b4b4 1px solid
}
.borderGrayRight {
	BORDER-RIGHT: #b4b4b4 1px solid
}
.borderGrayTop {
	BORDER-TOP: #b4b4b4 1px solid
}
.borderGrayBottom {
	BORDER-BOTTOM: #b4b4b4 1px solid
}
.divMore {
	DISPLAY: inline; FLOAT: right; WIDTH: 20px; CURSOR: hand; TEXT-ALIGN: right
}
.divLoading {
	BORDER-RIGHT: #bbcce1 1px solid; BORDER-TOP: #bbcce1 1px solid; FONT-SIZE: 9pt; BACKGROUND: #eff3f8; FILTER: alpha(opacity=90,finishopacity=90,style=1,startX=199,finishX=199,startY=30,finishY=64); ; LEFT: expression((document.body.clientWidth-this.clientWidth)/2); PADDING-BOTTOM: 15px; BORDER-LEFT: #bbcce1 1px solid; WIDTH: 200px; PADDING-TOP: 15px; BORDER-BOTTOM: #bbcce1 1px solid; POSITION: absolute; ; TOP: expression((document.body.clientHeight-this.clientHeight)/2); HEIGHT: 65px; TEXT-ALIGN: center
}
.divContent {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 3px; HEIGHT: auto
}
.divData {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #b4b4b4 1px solid; OVERFLOW-Y: scroll; PADDING-LEFT: 3px; OVERFLOW-X: auto; PADDING-BOTTOM: 3px; BORDER-LEFT: #b4b4b4 1px solid; WIDTH: 100%; PADDING-TOP: 3px; BORDER-BOTTOM: #b4b4b4 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
.colorGraySmooth {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFF,EndColorStr=#E4E4E4, GradientType=0)
}
.colorGraySmoothL2R {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#B4B4B4,EndColorStr=#FFFFFF, GradientType=1)
}
.colorGraySmoothT2B {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#E4E4E4,EndColorStr=#FFFFFF, GradientType=0)
}
.colorTransparent {
	FILTER: alpha(opacity=80); moz-opacity: 0.8
}
.colorTransparentAll {
	FILTER: alpha(opacity=100); moz-opacity: 1
}
.l_button {
	BORDER-RIGHT: #8c8c8c 1px solid; BACKGROUND-POSITION: center center; BORDER-TOP: #8c8c8c 1px solid; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(/images/nav_sm.gif); BORDER-LEFT: #8c8c8c 1px solid; WIDTH: 54px; CURSOR: hand; BORDER-BOTTOM: #8c8c8c 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma,??,arial; HEIGHT: 18px; BACKGROUND-COLOR: #eeeeee
}
.l_image {
	BORDER-RIGHT: #8c8c8c 0px solid; BORDER-TOP: #8c8c8c 0px solid; BORDER-LEFT: #8c8c8c 0px solid; WIDTH: 18px; BORDER-BOTTOM: #8c8c8c 0px solid; HEIGHT: 18px; BACKGROUND-COLOR: #eeeeee
}
.textarea_input {
	BORDER-RIGHT: #8c8c8c 1px solid; BORDER-TOP: #8c8c8c 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8c8c8c 1px solid; WIDTH: 400px; BORDER-BOTTOM: #8c8c8c 1px solid; FONT-FAMILY: Tahoma,??,arial; HEIGHT: 250px; BACKGROUND-COLOR: #eeeeee
}
